.text-gray{
    color: rgba(3, 7, 18, 0.7);
}
.green-color{
    color: rgba(29, 209, 0, 1)
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;

}
.nav h2{
    font-size: 36px;
    font-weight: 800;
}
.nav-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    list-style: none;
}
.nav-link li a{
    
    text-decoration: none;
    font-size: 18px;

}
.nav-btn{
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 7px;
     height: 46px;
     width: 110px;
    border: 2px solid rgba(29, 209, 0, 1);
    border-radius: 6px;
    background-color: rgba(29, 209, 0, 0.1);
    transition: 0.3s;
}
.nav-btn:hover{
    cursor: pointer;
    transform: scale(1.16);
}
.nav-btn p{
    font-size: 20px;
    font-weight: 700;
    color: rgba(29, 209, 0, 1);
}
.nav-btn img{
    height: 24px;
    width: 24px;
}
.banner{
    max-width: 1150px;
    background-image: url(images/Rectangle\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
     width: 100%;
     height: 550px;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.banner-des{
    padding-top: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size: 64px;
    color: rgba(255, 255, 255, 1);
}
.banner p{
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
}
.banner button{
    border: 1px solid rgba(29, 209, 0, 1);
    background-color: rgba(29, 209, 0, 1);
    color: rgba(3, 7, 18, 1);
    font-size: 15px;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    transition: 0.3s;
}
.banner button:hover{
    cursor: pointer;
    color: rgb(24, 98, 13);
     transform: scale(1.15);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
    
    
}
.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    top: 645px;
    left: 335px;
    height: 90px;
    width: 200px;
    padding: 10px;
    border-bottom: 3px solid rgba(29, 209, 0, 1);
}
.card1 img{
    height: 64px;
    width: 64px;
}
.card1 h5{
    margin: 0;
    font-size: 36px;
}
.card1 p{
    font-size: 18px;
    margin: 0;
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 10px;
     border-radius: 13px;
     background-color: white;
     position: absolute;
    top: 645px;
    left: 695px;
    height: 90px;
    width: 200px;
    padding: 10px;
     border-bottom: 3px solid rgba(29, 209, 0, 1);
}
.card2 img{
    height: 64px;
    width: 64px;
}
.card2 h5{
    margin: 0;
    font-size: 36px;
}
.card2 p{
    font-size: 18px;
    margin: 0;
}
.card3{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 10px;
     border-radius: 13px;
     background-color: white;
      position: absolute;
    top: 645px;
    left: 1040px;
    height: 90px;
    width: 200px;
    padding: 10px;
     border-bottom: 3px solid rgba(29, 209, 0, 1);
}
.card3 img{
    height: 64px;
    width: 64px;
}
.card3 h5{
    margin: 0;
    font-size: 36px;
}
.card3 p{
    font-size: 18px;
    margin: 0;
}
.coup h2{
    text-align: center;
    align-items: center;
    font-size: 40px;
    margin-top: 140px;

}
.offers {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 90px;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.coupon {
    
  position: relative;
  width: 500px;
  height: 170px;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: flex;
  font-weight: bold;
}
.coupon::before,
.coupon::after {
  content: "";
  position: absolute;
  left: 60%;
  width: 20px;
  height: 20px;
  background: rgba(3, 7, 18, 0.5)a;
  border-radius: 50%;
  transform: translateX(-60%);
}

.coupon::before {
    left: -18px;
}

.coupon::after {
  right: -18px;
}

.coupon .discount {
  font-size: 22px;
  margin-bottom: 10px;
}

.coupon .coupon-text {
  font-size: 14px;
  margin-bottom: 15px;
}

.coupon .code {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}
.yellow {
  background: #f9a825;
}

.pink {
  background: #ec407a;
}
.divider1{
    
    margin: 15px 0;
    position: relative;
}
.divider1::before,
.divider1::after {
    content: "";
    position: absolute;
    right: -120px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
}
.divider1::before{
    top: -42px;
}
.divider1::after{
    bottom: -42px;
}
.divider2{
    
    margin: 15px 0;
    position: relative;
}
.divider2::before,
.divider2::after {
    content: "";
    position: absolute;
    right: -120px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
}
.divider2::before{
    top: -42px;
}
.divider2::after{
    bottom: -42px;
}
.button{
    border: 2px solid rgba(29, 209, 0, 1);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55px;
    width: 150px;
    color: rgba(29, 209, 0, 1);
    font-size: 16px;
    margin: 50px 640px;
    transition: 0.3s;
}  
.button:hover{
    cursor: pointer;
    transform: scale(1.16);
} 
.container{
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 900px;
    border: 2px solid rgba(29, 209, 0, 1) ;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
}  
.head{
    text-align: center;
    margin-bottom: 5px;
}                      
.head h2{
    font-size: 24px;
    margin-bottom: 5px;

}
.bus-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f5f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom:20px ;
}  
.bus-details h3{
    margin-bottom: 5px;
}   
.price{
    text-align: center;
    color:rgba(29, 209, 0, 1);
}                
.price  h2{
    font-size: 24px;
}
.seat-layout{
    display: flex;
    gap: 30px;
}
.seat{
    flex: 1;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}
.seat{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    cursor: pointer;
    font-weight: bold;
}
.seat:hover{
    background: #ddd;
}
.seat .booked{
    background: #999;
    color: #fff;
    cursor: not-allowed;
}
.seat .selected{
    background: rgba(29, 209, 0, 1);
    color: #fff;
}
.booking-info{
    flex: 1;
    background: #f1f5f9;
    padding: 20px;
    border-radius: 8px;
}
.booking-info h4{
    margin-bottom: 15px;
}
.booking-info label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.booking-info input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.booking-info button{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background:rgba(29, 209, 0, 1) ;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.booking-info button:hover{
    background: rgb(18, 93, 6) ;
}
   