@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn-primary:hover{
    background-color: #dc7703;
    transform: scale(1.15);
}
.text-primary{
    color: #FF900E;
}
.text-gray{
    color: #424242;}
.text-light-gray{
  color:   #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
.banner-description{
    font-size: 16px;
    text-align: center;
}
.teams{
    align-items: center;
    gap: 100px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-feature h3{
    font-size: 40px;
}
.our-feature p{
    font-size: 20px;
}
.feature-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 50px auto;
    padding: 20px;
    gap: 40px;
}
.feature-text{
    flex: 1;
}
.feature-text h2{
    font-size: 32px;
    color: black;
    border-left: 4px solid orange;
    padding-left: 15px;
}
.feature-text p{
    font-size: 16px;
    color: black;
    line-height: 1.6;
}
.Feature-item{
    margin-bottom: 18px;
}
.Feature-item h4{
    margin: 0;
    font-size: 18px;
    color: #333;
}
.Feature-item p{
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
.ex-badge{

}
.ex-badge img{
    width: 100%;
    border-radius: 8px;
    display: block;
}
.badge{
    position: absolute;
    top: 20px;
    left: -20px;
    background: orange;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

